/* svg{
    display: block;
    vertical-align: middle;
  
  }
  
  .absolute {
    position: absolute;
  }
  audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
  }
  .transform {
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .translate-x-1\/2 {
    --tw-translate-x: 50%;
  }
  .-mr-16 {
    margin-right: -4rem;
  } */
  .container{
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 60px 0px 64px;
    display: block;
    flex-direction: column;
    justify-content: center;
 
  }
  h1{
    color: #D9E3EA;
    font-size: 3.25rem;
    margin-bottom: 1rem;
    font-weight: 800;
    line-height: 1.25;
    letter-spacing: -.01em;
  

    
  }
  .para{
    font-size: 1.50rem;
    margin-bottom: 2rem;
    font-family: var(--font-inter),sans-serif;
    margin: 0px 0px 32px;
    color: #f0f2f569;
    display: block
  }
  .start{
    color: #ffffff;
    background: #5D5dFF;
    /* padding:12px 32px; */
    height:48px;
    width: 170px;
    border: none;
    border-radius: 0.125rem;

  }
  .learn{
    color: #ffffff;
    background:rgb(51,54,58);
    /* padding:12px 32px; */
    height:48px;
    width: 170px;
    border: none;
    margin-left: 10px;
    border-radius: 0.125rem}


    .Home-image{
      position: relative;
      display: block;
      text-align: center;
      width: 1024px;
      height: 576px;
    /* height: auto; */
    margin: 0px 60px 0px 151px;
    background-image: url("https://open.cruip.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero-image-01.1f6edd86.jpg&w=1080&q=75");
  
  
  
  }
    .circle-home{
      position: absolute;
      top: 50%;
      left: 50%;
      right: 50%;
      bottom: 50%;
      z-index: 55%;
      height: 80px;
      width: 80px;
    }
    .home-svg{
      position: absolute;
      overflow: hidden;
      top: 79px;
      left: -146px;
      z-index: -1;
    }
    .heading
    {
      margin: 0px 0px 16px;
      color: #D9E3EA;
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 1rem;
      font-weight: 1000;
    line-height: 1.25;
    letter-spacing: -.01em;
      
    
}

     

    
  
 