 
.navbar{
    height: 60px;
       border-radius: 20px;
    justify-content: space-around;
    display: flex;
    position: relative;
    
    /* background-colo  r: aliceblue; */
}
.main_navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 90px;
}
.nav-items{
     display: flex;/* background-color: aliceblue; */
      
       padding: 10px;
    text-decoration: none;
    list-style: none;
}
.nav-icon{
    display: none;
}

.btn{
    height: 40px;
    width:80px;
    font-weight: 500;
    background-color:transparent;
    border: none;
    color:rgb(192,227,234) ;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-right: 80px;
    font-size: 1rem;
    cursor: pointer;
}
.btn1{
    height: 40px;
    width:80px;
    font-weight: 500;
    background-color:rgb(93,93,255);
    border: none;
    color:rgb(192,227,234) ;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    /* margin-right: 80px; */
    font-size: 1rem;
    cursor: pointer;
}
 
    
 
   .logo{
    fill: #5d5dff;
    width: 40px;
    height: 40px;
    
    padding-top: 12px;
}


@media  screen  and (max-width:767px){
    .nav-items{
     display: none;
     flex-direction: column;
     background: red;
     padding: 10px 40px;
   }
   .navbar{
    justify-content: space-between;
    /* margin-left: 76px; */
    /* width: 100%; */
    padding: 0 31px;
    margin-left: 0;
   }
 
   .logo{
    min-width: 40px;
    min-height: 40px;
   }
   .nav-icon{
    background: red;
    height: 30px;
    width: 20px;
   
    padding: 10px;
   }
   
}
   



    

