.navbar {
  height: 60px;
  border-radius: 20px;
  justify-content: space-around;
  display: flex;
  position: relative;

  /* background-color: aliceblue; */
}
.main_navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 90px;
}
.nav-items {
  display: flex; /* background-color: aliceblue; */

  padding: 10px;
  text-decoration: none;
  list-style: none;
}
.menu-icon {
  display: none;
}

.btn {
  height: 40px;
  width: 80px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  color: rgb(192, 227, 234);
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-right: 80px;
  font-size: 1rem;
  cursor: pointer;
}
.btn1 {
  height: 40px;
  width: 80px;
  font-weight: 500;
  background-color: rgb(93, 93, 255);
  border: none;
  color: rgb(192, 227, 234);
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  /* margin-right: 80px; */
  font-size: 1rem;
  cursor: pointer;
}

.logo {
  fill: #5d5dff;
  width: 40px;
  height: 40px;

  padding-top: 12px;
}

@media screen and (max-width: 767px) {
  .nav-items {
    visibility: hidden;
    flex-direction: column;
    background: rgb(37, 40, 44);
    padding-top: 60px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding-bottom: 60px;
    width: 350px;
    transition: 0.5s all ease;
    /* height: ; */

    top: -100px;
    position: absolute;
    /* background: #30302e; */
  }
  .active {
    top: 0px;
    visibility: visible;
  }
  .navbar {
    justify-content: center;
    /* margin-left: 76px; */
    /* width: 100%; */
    padding: 0 31px;
    margin-left: 0;
  }
  .btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: center;
    width: 100%;
    display: flex;
  }
  .btn1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
    background-color: rgb(93 93 255);
    border-color: transparent;
    border-width: 1px;
    border-radius: 0.125rem;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 250px;
  }

  .logo {
    min-width: 40px;
    min-height: 40px;
  }
  .menu-icon {
    height: 30px;
    display: block;
    padding: 10px;
    /* background: violet; */
  }
  .menu-icon i {
    color: rgb(185, 185, 202);
    padding-top: 5px;
    padding-left: 300px;
    height: 4rem;
  }
}
